{% extends 'adpage.html' %}
{% load static %}
{% block content %}
<style>
  
  th{
    border: 2px solid white;
            width: 200px;
            height: 60px;
            text-align: center;
            font-size: 10;
            background-color: rgba(92, 168, 230, 0.918);
            
  }

  tr:nth-child(even) {background-color:antiquewhite;}

  td{
    border: 2px solid white;
          text-align: left;
  padding: 15px;
            border: 2px solid white;
            width: 200px;
            height: 60px;
            
            text-align: center;
             border-collapse: collapse;
             background-color: rgb(167, 196, 233);
    
  }
  
table{
  width: 100%;
}

  .button{
    background-color: azure;
  }
  .button:hover{
    background:darkslateblue;
    color: #D6EEEE;
  }

  textarea
  {
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
    height: 80%;
  }
  .submit{
    margin-left: 150px;
  }
  .close{
    position: absolute;
    top: -15px;
    right: -15px;
    background:white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px black;
    cursor: pointer;
  }
  tr:hover td {
  background-color: rgba(38, 42, 94, 0.61);
  transition: background-color 0.3s ease;
  font-weight: 450;
  color: #fff;
}
tr:hover {
      background-color: rgba(56, 62, 146, 0.61) !important;
  }

  h2  {
                      text-align: center;
                      height: 50px;
                      margin-top: 1rem;
                      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                      font-size: 1cm;
                      color: black;
                      background-color: rgba(252, 253, 253, 0.658);
                  }
  
  .button{
    color: white;
   
  }
  </style>
  <div class="col-9">
    <h2 style="color: rgb(59, 59, 165);"><b>Complaint List</b></h2>

    <table border="1">
      <tr>
        <th><h6><b>Complaint ID</b></h6></th>
        <th><h6><b>Student ID</b></h6></th>
        <th><h6><b>Name</b></h6></th>
        <th><h6><b>Hostel</b></h6></th>
        <th><h6><b>Issue Type</b></h6></th>
        <th><h6><b>Description</b></h6></th>
        <th><h6><b>Date <br> Registered</b></h6></th>
        <th><h6><b>Status</b></h6></th>
        

      </tr>
      {% for us in comregt %}
      <tr>
        <td>{{us.id}}</td>
        <td>{{us.cid}}</td>
        <td>{{us.name}} </td>
        <td>{{us.hostel}} </td>
        <td>{{us.issuetype}} </td>
        <td>{{us.description}} </td>
        <td>{{ us.date_registered|date:"Y-m-d H:i" }}</td>
        <td><a href="/deleteresponse/{{us.id}}"  class="btn btn-danger" id="button" >Delete Complaint</a></td>
        {% endfor %}
      </tr>
    </table>
  </div>
  
{% endblock %}