{% extends 'athmainpg.html' %}
{% block content %}

<style>
k{
        
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left:    ;
   }
</style>
<div class="col-9">
    <h2 style="color: rgb(59, 59, 165); font-weight: 700;">About Us</h2><br>
    <k class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SVU Hostel Issue Management System deals with the student complaints. This system allows for managing unsolved complaint records.
         Eventually, this project contains an Admin Panel with an Authority and student panel. Here, a student can login to the web application through their student registration number to register complaint.
         A student can submit complaints by filling up the subject with the type of complaint and description of it.
        Students can also view their pending/unsolved complaints as well as their solved complaints. While using the features of this complaint management system, the user can view all the statuses of registered complaints.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Management System provides an online way of solving the problems by saving time. The objective of the complaints management system is to make complaints easier to coordinate,
         monitor, track and resolve, and to provide an effective way to identify and target problem areas and make improvements. The main purpose of this project is to systematically record, store and respond to complaints by
          taking appropriate actions. 
        This system provides an online way of solving the problems faced by students in the hostels by saving time. It is a management technique for assessing, analysing and responding to student issues.
            <br>
    </k><br>
    <b>Note:</b><br>
    <font size=5>The Authority has to respond to the student complaints immediately.</font>
</div>
{% endblock %}